.main{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 25rem;
    min-height: 80vh;
    padding: 200rem 150rem;
    text-align: center;
    z-index: 1;
    background-color: #1f8fff;
    background: linear-gradient(135deg, #1E90FF 0%, #1F8FFF 50%, #191970 100%);
    /*background: linear-gradient(to right, rgba(25,25,112,1) 0%, rgba(30,143,255,1) 10%, rgba(31, 143, 255,1) 51%, rgba(30,143,255,1) 90%, rgba(25,25,112,1) 100%);*/
}

.tituloCategoria{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 600rem;
    background-color: #000000;
    background-image: url("../img/background/ferre2.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;
}

.tituloCategoria > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /*filter: blur(3px) saturate(100%);*/
}

.opacidadTituloCategoria{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
}

.categoria{
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: right;
    padding: 20rem;
    padding-right: 80rem;
    margin-right: 20rem;
    z-index: 20;
    font-size: 60rem;
    color: #FFF;
    box-sizing: border-box;
    text-shadow: 3px 3px 5px #000000;
}

.detallesArt{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
}

.nombreArt{
    position: relative;
    top: -20px;
    width: 80%;
    padding: 15rem;
    margin: 0;
    font-weight: bold;
    color: #FFF;
    font-size: 25rem;
    background-color: var(--header-color);
}

.descripArt{
    width: 100%;
    box-sizing: border-box;
    padding: 8rem 5rem;
    color: #FFF;
    font-size: 15rem;
    margin-top: auto;
    background-color: #191970;
}

@media only screen and (orientation:portrait){

    .tituloCategoria{
        width: 100vw;
        height: 25vh;
        overflow: hidden;
    }

    .tituloCategoria > img{
        width: 150%;
        height: 150%;
        object-position: left;
    }


    .categoria{
        padding: 10rem 40rem;
        top: 20%;
        font-size: 40rem;
        background: linear-gradient(to bottom, rgba(25,25,112,0) 0%, rgba(25,25,112,0.5) 10%, rgba(25,25,112,0.5) 50%, rgba(25,25,112,0.5) 90%, rgba(25,25,112,0) 100%);
    }

    .main{
        padding: 50rem;
        box-sizing: border-box;
        width: 100vw;
        max-width: 100vw;
    }

    .contenedorArticuloMarca{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .articulo{
        box-sizing: border-box;
        width: 100%;
        height: 400rem;
        margin: 30rem 0rem;
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid #FFF;
        box-shadow: 5px 5px 6px -3px #000000;
        /*background: linear-gradient(135deg, #1E90FF 0%, #1F8FFF 50%, #191970 100%);*/
        background-color: #FFF;
    }

    .contenedorImgArt{
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        width: 80%;
        height: 80%;
    }

    .contenedorImgArt img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        /*filter: drop-shadow(10rem 10rem 3px #000);*/
    }

    .nombreArt{
        font-size: 20rem;
    }

}

@media only screen and (orientation:landscape){

    .contenedorArticuloMarca{
        display: grid;
        grid-template-columns: repeat(auto-fit,400rem);
        grid-template-rows: repeat(auto-fit,400rem);
        grid-auto-rows: 400rem;
        gap: 80rem 40rem;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .articulo{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid #FFF;
        box-shadow: 5px 5px 6px -3px #000000;
        background-color: #FFF;
        /*background: linear-gradient(135deg, #1E90FF 0%, #1F8FFF 50%, #191970 100%);*/
    }

    .contenedorImgArt{
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        width: 80%;
        height: 80%;
    }

    .contenedorImgArt img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        /*filter: drop-shadow(10rem 10rem 3px #000);*/
    }

}