@media only screen and (orientation: portrait){
/*https://nicepage.com/css-templates/preview/contact-us-for-the-best-customer-service-62904?device=desktop*/
	.main{
		display: flex;
		box-sizing: content-box;
	}

	.form__container{
		display: flex;
		background-color: var(--structure-color);
		width: 100%;
		height: 100vh;
		font-size: 15rem;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		box-sizing: border-box;
		padding: 30rem;
	}

	.form__container-title{
		width: 100%;
		text-align: left;
		font-weight: bold;
		font-size: 25rem;
		margin: 20rem 0;
	}

	.form{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 60%;
		box-sizing: border-box;
	}

	.form__input-container,.form__textarea-container{
		width: 100%;
	}

	.form__textarea-container textarea{
		height: 200rem;
	}

	.form__input-container input, .form__textarea-container textarea{
		width: 100%;
		margin: 5rem 0rem;
		padding: 10rem;
		border: none;
		box-sizing: border-box;
		box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
	}

	.form__submit-container input{
		padding: 10rem;
		border: none;
		background-color: var(--section-color2);
		color: #FFF;
		box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
	}

	::placeholder{
		font-size: 15rem;
	}
	


}

@media only screen and (orientation: landscape){


}