@media only screen and (orientation: portrait){

	footer{
		background-color: var(--footer-color);
		padding: 30rem;
		width: 100%;
		box-sizing: border-box;
		min-height: 100vh;
	}

	.footer__logo-container{
		display: block;
		object-fit: contain;
		text-align: right;
		margin-bottom: 30rem;
		padding: 30rem 15rem;
	}

	.footer__logo-container img{
		width: 50%;
		height: 50%;
		padding: 10rem;
		border-radius: 0rem 0rem 40rem 0rem;
		box-shadow: 10rem 10rem 5rem -5rem rgba(0,0,0,0.75);
		background: radial-gradient(circle, #1e24d6 0%, var(--footer-color) 50%);
	}

	.footer__ul{
		display: block;
		list-style: none;
	}

	.footer__li{
		display: block;
		color: #FFFFFF;
		padding: 2rem 0rem 10rem 2rem;
		font-size: 30rem;
		line-height: 2;
		margin: 10rem 0rem;
		box-sizing: content-box;
		border-radius: 25rem 25rem 25rem 25rem;
	}

	.footer__title{
		background: linear-gradient(to right, rgba(0,0,128,1) 0%, rgba(0,0,85,1) 50%, rgba(0,0,85,1) 100%);
		font-size: 22rem;
		font-weight: bold;
		margin-top: 18rem; 
		margin-bottom: 18rem;
		padding: 2rem 20rem;
		box-shadow: -10rem 10rem 5rem -5rem rgba(0,0,0,0.75);
		border-radius: 25rem 0rem 0rem 25rem;
	}

	.footer__icon{
		float: left;
		background-color: var(--dark-ng-blue);
		font-size: 35rem;
		padding: 0;
	}

	.footer__social-network{
		color: #FFFFFF;
		text-decoration: none;	
	}

	.footer__data{
		font-style: normal;
		text-align: left;
		font-size: 15rem;
		margin: 2rem 20rem 2rem 50rem;	
		line-height: 1;
	}

	#footer__data-alone{
		line-height: 2;
	}


	.copyright{
		position: relative;
		top: 25rem;
		color: #FFFFFF;
		text-align: center;
		font-size: 10rem;
		line-height: 1;
		margin: 50rem 0rem 25rem 0rem;
	}	
}

@media only screen and (orientation: landscape){

	footer{
		position: relative;
		top: 0;
		left: 0;
		background-color: var(--footer-color);
		padding: 30rem;
		box-sizing: border-box;
		max-width: var(--web-max-width);
		min-width: var(--web-min-width);
	}

	.footer__logo-container{
		float: left;
		width: 200rem; 
		margin-left: 200rem;
		object-fit: cover;
		text-align: left;
		padding: 0;
		box-sizing: content-box;
	}

	.footer__logo-container img{
		width: 100%;
		height: 100%;
		filter: drop-shadow(10rem 10rem 5rem #000);
	}

	.footer__ul{
		display: grid;
		list-style: none;
		grid-template-rows: repeat(2,auto);
		grid-template-columns: 100rem repeat(auto-fit,minmax(200rem,0.3fr));
		align-items: center;
		justify-content: center;
		align-content: center;
		gap: 20rem;
		position: relative;
		top: 0;
		left: 0;
		margin: 10rem;
	}

	.footer__li{
		display: inline-block;
		color: #FFFFFF;
		padding: 2rem 0rem 10rem 2rem;
		font-size: 36rem;
		line-height: 2;
		margin: 5rem 0rem;
		box-sizing: content-box;
		border-radius: 25rem 25rem 25rem 25rem;
	}

	.footer__title{
		display: none;
	}

	.footer__icon{
		float: left;
		background-color: var(--dark-ng-blue);
		font-size: 36rem;
		padding: 0;
		margin-right: 10rem;
	}

	.footer__social-network{
		color: #FFFFFF;
		text-decoration: none;	
	}

	.footer__data{
		font-style: normal;
		text-align: left;
		font-size: 18rem;
		margin: 2rem 10rem;	
		line-height: 1;
	}

	.footer__social-network > p {
		display: none;
	}

	#footer__data-alone{
		line-height: 2;
	}

	#ubication{
		grid-column: 2 /span 1;
		grid-row: 2 /span 1;
	}
	#phone{
		grid-column: 3 /span 1;
		grid-row: 1 /span 1;
	}
	#mail{
		grid-column: 2 /span 1;
		grid-row: 1 /span 1;
	}
	#clock{
		grid-column: 3 /span 1;
		grid-row: 2 /span 1;
	}
	.network{
		grid-column: 1 /span 1;
		grid-row: 1 /span 1;
	}

	#fb{
		grid-column: 1 /span 1;
		grid-row: 1 /span 1;
		align-self: center;
		justify-self: center;
	}

	#is{
		grid-column: 1 /span 1;
		grid-row: 2 /span 1;
		align-self: center;
		justify-self: center;
	}

	.copyright{
		position: relative;
		bottom: 0;
		color: #FFFFFF;
		text-align: center;
		font-size: 15rem;
		line-height: 1;
		clear: left;
		margin-top: 50rem;
	}	

}