.header__background{
	background-color: var(--bright-blue-1);
	background-image: url(../img/web-logo/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	background-origin: content-box;
	box-sizing: border-box;
}

.str-header-nav__li:hover{
	background: var(--bright-blue-2);
}