:root {
	--header-height: 80rem;
	--footer-height: 30rem;
	--header-color: #0000CC;
	--footer-color: #000055;
	--icon-color: #15159D;
	--header-hover-color: #4D4DFF;
	--section-color: #3358FF;
	--section-color2: #0633FF;
	--dark-border: #000055;
	--light-border: #0000FF;
	--structure-landscape-color: #3366ff;
	--web-max-width: 1920px;
	--web-min-width: 640px;
}

* {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}


/*

	Landscape resolutions:
	min-width: 640
	min-width: 800
	min-width: 1000
	min-width: 1440
	min-width: 1700

	Portrait resolutions:
	min-width: 460	
	min-width: 600	
	min-width: 900	

*/