:root {
	--header-height: 80rem;
	--footer-height: 30rem;
	--header-color: #0000CC;
	--footer-color: #000055;
	--icon-color: #15159D;
	--header-hover-color: #4D4DFF;
	--section-color: #3358FF;
	--section-color2: #0633FF;
	--dark-border: #000055;
	--light-border: #0000FF;
	--web-max-width: 1280px;
}

* {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}